
<link rel="stylesheet" href="{{ asset('bundles/yomaah/css/code_source.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/yomaah/css/prism.css') }}" data-noprefix/>
<script src="{{ asset('bundles/yomaah/js/prism.js') }}"></script> 

<article>
    <section class="srcPath">
        {%for key,path in paths%}
            <ul>
                <li><a href="{{path('code_source',{ 'path' : path})}}">{{ key }}</a></li>
            </ul>
        {%endfor%}
    </section>
    <section class="art-content fic">
        <pre class="line-numbers"><code class="language-php" >
            {{file}}
        </code></pre>
    </section>
</article>
