<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{%block title %}JOSIEN Lionel's website{%endblock%}</title>
        <meta name="keywords" content="JOSIEN, josien lionel"/>
        <link rel="stylesheet" href="{{ asset('bundles/yomaah/css/foundation.min.css')}}" />
        <link rel="stylesheet" href="{{ asset('bundles/yomaah/css/normalize.css')}}" />
        <link rel="stylesheet" href="{{ asset('bundles/yomaah/css/main-bar.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/yomaah/css/main-style.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/yomaah/css/banniere.css') }}" />
        {#<link rel="stylesheet" href="{{ asset('bundles/yomaah/css/jquery-ui.css') }}" />#}
        <link rel="stylesheet" href="{{ asset('bundles/yomaah/css/jquery-ui-1.10.4.custom.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/yomaah/css/fontawesome/css/font-awesome.css') }}" />
        <link href='http://fonts.googleapis.com/css?family=Volkhov' rel='stylesheet' type='text/css'>
        <script src="{{asset('bundles/yomaah/js/jquery-2.0.3.min.js')}}"></script>
        <script src="{{asset('bundles/yomaah/js/jquery-ui.min.js')}}"></script>
        {%block stylesheets%}{%endblock%}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48553758-1', 'yomaah.fr');
  ga('send', 'pageview');

</script>
<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<![endif]-->
    </head> 

    <body>
    {%if app.session.get('mobile') is defined and app.session.get('mobile')%}
    {%else%}
      {% include 'yomaahBundle:Main:main-bar1.html.twig' %}
        <div id="banniere">
            <img src="{{ asset('bundles/yomaah/images/ban.jpg')}}"></img>
        </div>
        <div class="row">
            <div id="prez1" class="prez">JOSIEN Lionel</div>
            <div id="prez4" class="prez">Développeur Logiciel</div>
        </div>
    {%endif%}
    <div id="corps" class="row border-radius">
        {%block body %}{%endblock%}
    </div>
    {%block javascript %}{%endblock%}
    {%if admin is defined and admin%}
        {% include 'yomaahBundle:Toolbar:toolbar.html.twig' %}
        {% include 'yomaahBundle:Toolbar:addArticleToolBar.html.twig' %}
        <script src="{{asset('bundles/yomaah/js/rangy-core.js')}}"></script>
        <script src="{{asset('bundles/yomaah/js/hallo.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/yomaah/js/monHallo.js')}}"></script>
        <link rel="stylesheet" href="{{ asset('bundles/yomaah/css/bootstrap.icons.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/yomaah/css/jquery.toolbars.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/yomaah/css/monToolbar.css') }}" />
        <script type="text/javascript" src="{{asset('bundles/yomaah/js/jquery.toolbar.js')}}"></script>
        <script>setAdminToolbar()</script>
    {%endif%}
    </body>
</html>
