
{%extends 'yomaahBundle:Main:base.html.twig' %}

{%block body%}
<div class="articles small-12 columns marge">
    {% for article in articles%}
        <div class="article border-article marge cs">
            <input type="hidden" name="id" value="{{article.id}}"/>
            <article class="art-titre"><h1>{{article.artTitle}}</h1></article>
            <figure class="art-png"><img src="{{asset('bundles/yomaah/images/'~article.png.pngUrl)}}"></img></figure>
            <article class="art-triangle"></article>
            <article class="art-content not-editable">
            {% if article.artContent == null%}
                {%if git is defined%}
                    <section class="git"></section>
                    <script src="{{asset('bundles/yomaah/js/repo.js')}}"></script>
                    <script>$('.git').repo({ user: 'maahdi', name: 'MonSite' });</script>
                {%else%}
                    {% include template%}
                {%endif%}
            {%else%}
                {{ article.artContent | raw }}
            {%endif%}
            </article>
        </div>
    {%endfor%}
</div>

{%endblock%}
