
{%extends 'yomaahBundle:Main:base.html.twig' %}

{%block body%}

<div class="articles small-12 columns marge">
    {%for article in articles%}
        <div class="article border-article marge">
            <input type="hidden" id="id" name="id" value="{{article.id}}"/>
            <article class="art-titre"><h1>{{ article.artTitle }}</h1></article>
            <figure class="art-png"><img src="{{asset('bundles/yomaah/images/'~article.png.pngUrl)}}"></img></figure>
            <article class="art-triangle"></article>
            <article class="art-date">{{ article.artDate }}</article>
            <section class="art-content">{{ article.artContent|raw}}</section>
        </div>
        {%endfor%}
</div>

{%endblock%}
